/* NebeGameplays (N3BB3Z4R) 2021 */
html, body {
    margin: 0; padding: 0;
    }
body {
    background-color:#10081b;
    color: white;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header img {
    width: 200px;
    height: 155px;
    float: left;
}
header {
    /*background-color:#9147ff;*/
    background-image: linear-gradient(#9147ff, #10081b);
    margin: 0 auto;
    width: 100%;
    /* position:static; /* (o relative, según tu diseño)*/
    top: 0px;
    text-align: left;
    padding: 1px 0px;
    height: 160px;
    font-size: larger;
}
header h1 {
    font: size 80px !important;
}
header span {
    font-size: 10px;
    margin: 0;
}
h3 {
    text-align: center;
}

#textblock {
    text-align: center;
}

.navbar {
    margin: 0;
}
nav {
    text-align: center;
    display: block;
    /* margin: 0 auto; */
}
#list li:hover {
    background-color: red;
}
nav ol {
    width: 50%;
    text-align: center;
} 
nav ol li {
    display: inline-block;
    width: fit-content;
    height: 30px;
}
nav ol li a {
    text-decoration: none;
    text-transform: capitalize;
    color:#44138d;
    font-weight: bold;
    padding: 8px 20px;
    background-color: #9147ff;
    border-radius: 5px;
}
nav ul li:hover {
    color:#ffffff;
    background-color: #44138d;
}


.horario {
    text-align: center;
}


table {
    border: 2px solid white;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    margin-bottom: 40px;
}
table tr th {
    width: 80px;
    min-width: fit-content;
}


.container {
    width: 50%;
}
#bloquetop container {
    /*float: left;*/
    padding: 0px;
}
container {
    text-align: left;
    float:left;
    margin: 0 auto;
    width: 100%; /* controla el ancho total del container con los players */   
}

#twitch-embed {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}
#twitch-embed iframe {
    float: left;
    width: 33%; /*controla el ancho de cada iframe-player embebido */
    max-width: 50%;
    min-width: 320px;
    height: 500px;
}

/* BLOQUE ONLY LIVE VIEWING */
.hide { display:none; }*/

    /* Optional: The following css just makes sure the twitch video stays responsive */
    #Channel {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
      }
      #Channel object, #twitch iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 250px;
      }


/* Lista streamers online */
#list {
    width:100%;
    margin:0px auto;
    text-align: center;
    display:inline-flex;
    padding: 10px 70px 10px 20px;
}
#list ul li {
    width:fit-content; 
    float:left; 
    text-decoration: none;
    list-style: none;
    font-size: small;
}
#list li {
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    padding: 8px 4px;
    margin: 2px;
}
#list a {
    font-weight:bold; 
    color:#44138d; 
    text-decoration:none; 
    outline:0;
}

#list p {
    margin:5px 0 0 0; 
    padding:0 5px;
}
.grupo a { /* botones menu */
    width:fit-content;
    padding: 6px;
    background-color: #9147ff;
    margin: 0 auto;
    display: inline-block;
}

footer {
    background-image: linear-gradient(#10081b, #020103);
    height: 300px;
    margin: 0px auto;
    font-size: 12px;
    text-align: center;
    padding: 0px 0;
    width: 100%;
}

footer a {
    padding: 30px 0;
}